<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Clone</title>
</head>

<body>
    <header class="hero">
        <div class="landing-content">
            <h1 class="fw-bold">Welcome to Tikflix</h1>
            <p>Watch unlimited amounts of movies and TV shows.</p>
            <button id="begin-watching" class="btn btn-danger">Begin Watching</button>
        </div>
    </header>
</body>

</html>